<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="refresh" content="600">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>MOJ People Dashboard</title>
  <style media="screen">
    * {
      margin: 0;
      padding: 0;
      font-family: Helvetica;
      font-size: 12px;
      font-weight: normal;
    }
    h1 {
      font-size:3em;
      text-align: center;
      margin: 0.5em;
    }
    .products {
      margin: 0 auto;
    }
    .product {
      margin: 1em;
      float: left;
      background-color: #ccc;
      width:200px;
    }
    .product h2 {
      background-color: #000;
      color: #fff;
      padding: 1em;
      padding-bottom: 0.5em;
    }
    .people {
      padding: 1em;
      padding-top: 0.5em;
    }
  </style>
</head>
<body>
  <h1>Who's working on what this week?</h1>
  <div class="products">
    <% @projects.each_pair do |project, names| %>
      <div class="product">
        <h2><%= project %></h2>
        <div class="people">
          <% names.each do |name| %>
            <p class="team_member"><%= name %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="/masonry.js"></script>
<script type="text/javascript">
$( document ).ready(function() {
  $('.products').masonry({
    itemSelector: '.product',
    isFitWidth: true
  });
});
</script>
</html>
